/*index*/
.imgFondo{
    background-image: url(../img/Lyft_PressKit_01.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 180vh;
    margin: 0% 0% 0% 30%;
}
.logo{
    margin: 13% 0% 160% 0%;
    padding: 0% 60% 30% 0%;
}
/*signup*/
.botonNext{
    padding: 0% 48%;
}
.imgFondoSign{
    background-color: #bbdefb;
    background-position: center;
    background-size: 100%; 
    height: 98vh;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
/*perfil*/
.imgPerfil{
    width: 100%;
    height: 10px;
}